 *{margin: 0px; box-sizing: border-box;}
 body{ 
       background-color: white;
       margin: 5px;
     }
     .all{ 
       background-color: #3462de;
       margin: 0px auto;
       width: 80%;
	   border:2px solid blue;
     }
     .header{
         background: #3462de;
         width: 100%;
         height: 300px;
         text-align: center;
     }
	 
	 .navbar{
		 background: yellow;
		 width:100$;
		 height:60px;
		 padding-top:20px;
	 }
	 .navbar ul li{list-style-type:none; display:inline; margin-right:10px;}
	 .navbar ul li a{padding:15px; background:white; text-decoration:none;}
     .navbar ul li a:hover{background:red;}
	 
	 .main{
         background: #d8d8d8;
         width: 100%;
		 padding:5px;
     }
     .footer{
         background: #2f3033;
         color: #ffffff;
         width: 100%;
         height: 200px;
         padding-top: 20px;
         text-align: center;
     }
	 
	 